<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/userbar.css">
</head>
<body>
    <h2>Edit Tool</h2>
    <%- include('partials/userbar')  %>
    <form action="/tools/<%=tool.id%>?_method=PUT" method='POST'>
        Tool Name: <input type="text" name='toolName' value='<%=tool.toolName%>'> <br>
        Tool Type: <select name="toolType" id="toolType" >
            <option value="<%=tool.toolType%>"><%=tool.toolType%></option>
            <option value="drill bit">drill bit</option>
            <option value="end mill">end mill</option>
            <option value="face mill">face mill</option>
        </select> <br>
        <!-- Tool Type: <input type="text" name ='toolType' value='<%=tool.toolType%>'> <br> -->
        Tool Qty: <input type="number" name='toolQty' value='<%=tool.toolQty%>'> <br>
        Tool PN: <input type="text" name='toolPartNumber' value='<%=tool.toolPartNumber%>'> <br>
        Tool Cost: <input type="text" name='toolCost' value='<%=tool.toolCost%>'> <br>
        New Tool: <input type="checkbox" name='newTool' 
        <% if(tool.newTool === true) { %>
            checked 
        <% } %>> <br>
        Notes: <input type="text" name='notes' value='<%=tool.notes%>'> <br>
        <input type="hidden" name='lastUpdatedBy' value="
        <% if (currentUser !== undefined) { %>
            <%= currentUser.userName%>
        <% } else { %>
            N/A
        <% } %>
        " readonly> <br>
        
        <input type="submit" name="submit" id="submit"> <br>
    </form>
    
</body>
</html>