<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/userbar.css">
</head>
<body>
    <h1>Tools Index</h1>
    <%- include('partials/userbar')  %>
    <table>
        <tr>
            <th>Number</th>
            <th>Tool Name</th>
            <th>Tool Type</th>
            <th>Tool Qty</th>
        </tr>
        
    <% for (i=0 ; i<tools.length ; i++) { %>
        <tr>
        <td><%= i %></td>
        <td> <a href="/tools/<%=tools[i].id%>"> <%=tools[i].toolName %> </a> </td>
        <td><%= tools[i].toolType %></td>
        <td><%= tools[i].toolQty %></td>
        </tr>
    <% } %>
        
    </table>
    <a href="/tools/new"><button>NEW TOOL</button></a>
    
    
</body>
</html>