<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/userbar.css">
</head>
<body>
    <%- include('partials/userbar')  %>
    <table>
        <tr>
            <th>Tool Name</th>
            <th><%=tool.toolName%></th>
        </tr>
        <tr>
            <th>Tool Type</th>
            <th><%=tool.toolType%></th>
        </tr>
        <tr>
        <th>Qty</th>
            <th><%=tool.toolQty%></th>
        </tr>
        <tr>
        <th>Part Number</th>
            <th><%=tool.toolPartNumber%></th>
        </tr>
        <th>Cost (each)</th>
            <th>$ <%=tool.toolCost%></th>
        </tr>
        <th>Is the tool new?</th>
            <th><% if (tool.newTool === true) { %>
                new tool
                <% } else { %>
                    used tool
                <% } %>
            </th>
        </tr>
        <tr>
            <th>Created Timestamp</th>
            <th> <%=tool.createdAt%> </th>
        </tr>
        <tr>
            <th>Updated Timestamp</th>
            <th> <%=tool.updatedAt%> </th>
        </tr>
        <tr>
            <th>Last Updated By:</th>
            <th> <%=tool.lastUpdatedBy%> </th>
            <!-- I think I need to have a way to pull in the req.session.currentUser information -->
        </tr>
    </table>
    <br>
    <a href="/tools/<%=tool.id%>/edit"><button>EDIT TOOL</button></a>
    <br>
    <form action="/tools/<%=tool.id%>?_method=DELETE" method='POST'>
    <input type="submit" value='DELETE'></form>
    <a href="/tools/"><button>BACK</button></a>
    
</body>
</html>
 